# Claves de entorno y credenciales privadas (¡NUNCA subir a GitHub!)
.env

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/
*.swp
